/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2018, 4:56:39 PM
    Author     : termaat
*/

* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
  overflow: hidden;
  padding: 10px 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

.butt {
   background-color: white;
    border: 2px solid #555555;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    height:30px;
}

.butt:hover {
   background-color:black;
   color:white;
}

.longbutt{
    width:90px;
}
.shortbutt{
    width:60px;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 99%;
  text-align: center;
  border-collapse: collapse;
  empty-cells: show;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}

table.greyGridTable th:nth-child(1), th:nth-child(4){
    display: none;
}
table.greyGridTable td:nth-child(1), td:nth-child(4) {
    display: none;
}

table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 3px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable thead th:last-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 3px solid #333333;
}

table.greyGridTable tfoot td {
  font-size: 14px;
  font-style: italic
}  

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}